.circle-of-fifths {
  width: 1080px;
  margin: 0 auto;
  background-color: #6f79a8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .key-grid-item {
    .key-container {
      .key-single {
        margin: 20px;
        text-align: center;
        background-color: #9fa8da;
        .key-info {
          opacity:0;
          transition: .2s all;
          &.showing {
            opacity: 1;
          }
        }
      }
    }
  }
}
